*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  position: relative;
}

.navbar{
  width: 100vw;
  height: 60px;
  position: fixed;
  display: flex;
  background-color: rgb(228, 228, 228);
  justify-content: center;
  padding: 10px;
}
.heading{
  max-width: 80%;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.logo{
  color: rgb(161, 36, 36);
}

/*Body*/
.body{
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 60px;
}
.content{
  max-width: 70%;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  overflow-x: scroll;
  /* flex-wrap: wrap; */
}

.pizza{
  font-size: 40px;
  font-family: 700px;
  font-family: sans-serif;
  color:  rgb(161, 36, 36);
}
.point{
  font-size: 40px;
  font-weight: 200;
  color: rgb(61, 57, 57);

}
.contrast{
  background-color: rgb(250, 223, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  margin: 20px;
  border: 2px solid rgb(245, 202, 202);
  box-shadow: 0 0 4px rgb(235, 226, 55);

}
.contrast2{
  background-color: rgb(184, 247, 126);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 100px;
  width: 300px;
  border: 2px solid rgb(245, 202, 202);
  box-shadow: 0 0 4px rgb(235, 226, 55);

}
.contrast3{
  background-color: rgb(160, 248, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  border: 2px solid rgb(245, 202, 202);
  box-shadow: 0 0 4px rgb(235, 226, 55);

}.contrast4{
  background-color: rgb(255, 186, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 300px;
  border: 2px solid rgb(245, 202, 202);
  box-shadow: 0 0 4px rgb(235, 226, 55);
  margin: 20px;

}
.body2{
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 60px;
}
/* @media only screen and (max-width:720px) {
  .content{
    max-width: 90%;
  }
  .navbar{
    max-width: 95%;
  }
} */